*.properties
/twilight-api/src/main/resources/application.properties
/twilight-api/src/main/resources/application.properties
/twilight-api/src/main/resources/application.properties

/uploads/**
/twilight-api/uploads/**
**/.tanstack
