@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-all;
  }
  .html,
  body {
    @apply bg-tw-light-bg;
    @apply text-tw-light-text;
    @apply dark:bg-tw-bg;
    @apply dark:text-tw-text;
    @apply min-h-screen;
  }
  input,
  textarea,
  .input {
    @apply rounded-md;
    @apply outline-none;
    @apply focus:outline-none;
    @apply border;
    @apply bg-transparent;
    @apply border-tw-border;
    @apply focus:border-b-tw-primary;
    @apply resize-none;
    @apply p-2;
  }
  a {
    @apply hover:text-tw-primary;
  }
  input.error {
    @apply border-red-500;
    @apply border;
  }
}

@layer utilities {
  .font-quicksand {
    font-family: "Quicksand", sans-serif;
  }
  .center {
    @apply justify-center;
    @apply items-center;
  }
}

@layer components {
  .resp-grid {
    @apply grid;
    @apply grid-cols-1;
    @apply gap-2;
    @apply lg:grid-cols-tw;
    @apply justify-center;
    @apply place-self-center;
    @apply transition-all;
    @apply w-full;
  }

  .container {
    @apply flex;
    @apply flex-col;
    @apply gap-2;
    @apply justify-self-center;
    @apply p-2;
    @apply rounded-md;
    @apply w-full;
  }
  .card {
    @apply container;
    @apply border;
    @apply dark:bg-tw-surface;
    @apply border-tw-border/10;
    @apply shadow-[0_6px_15px_rgba(0,0,0,0.08)];
  }
  .navbar {
    @apply flex p-2 justify-between items-center gap-2 w-full
         bg-tw-light-surface dark:bg-tw-surface/70
         backdrop-blur-md sticky top-0 z-50;
  }
  .btn {
    @apply flex;
    @apply border;
    @apply border-tw-border;
    @apply hover:text-tw-text;
    @apply hover:border-tw-primary;
    @apply rounded-md;
    @apply p-0.5;
    @apply px-2;
    @apply w-fit;
    @apply cursor-pointer;
    @apply items-center;
    @apply justify-center;
    @apply text-center;
  }

  .primary {
    @apply bg-tw-primary/50;
    @apply hover:bg-tw-primary/90;
    @apply hover:shadow-[0_0_15px_rgba(167,139,250,0.7)];
  }

  .accent {
    @apply bg-tw-accent;
    @apply hover:bg-tw-accent-dark;
    @apply hover:shadow-[0_0_15px_rgba(99,102,241,0.7)];
  }

  .danger {
    @apply border-red-500;
    @apply hover:bg-red-500;
    @apply hover:border-red-500;
    @apply hover:shadow-[0_0_15px_rgba(239,68,68,0.7)];
  }

  .text-glow {
    @apply text-[color:var(--color-tw-glow)];
    text-shadow: 0 0 8px rgba(196, 181, 253, 0.8);
  }
}
